*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 3.75rem;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 3.75rem;
    width: 113px;
}
.logo1{
    background-image: url(./amazon_logo.png);
    height: 3.125rem;
    width: 80%;
    background-size: cover;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
.delivering{
    font-size: 12px;
    color: #CCCCCC;
    margin-left: 15px;
}
.nav-icon{
    display: flex;
    align-items: center;
}
.countryindia{
    font-size: 13px;
    color: #FFFFFF;
}
/**box 3**/
.nav-search{
    height: 40px;
    width: 50rem;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-search:hover{
    border: 2px solid #febd68;
}
.search-select{
    height: 100%;
    width: 56.6px;
    background-color: #E6E6E6;
    padding-left: 5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    border: none;
}
.search-input{
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    font-size: 1rem;
    border: none;
    
}
.search-icon{
    height: 100%;
    width: 49px;
    font-size: 1.2rem;
    color: #0F1111;
    background-color: #febd68;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
}
.nav-line1{
    font-size: 12px;
    color: #FFFFFF;
}
.nav-line2{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 700;
}
#icon{
    margin: 3px 0px 0px 5px;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 700;
    display: flex;
    align-items: end;
}
/**second phase**/
.panel{
    height: 40px;
    background-color: #222f3d;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-all{
    font-weight: 700;
}
.panel-options p{
    font-size: 14px;
    display: inline;
    margin-left: 13px;
}
.panel-options{
    width: 95%;
}
/**hero section**/
.hero-section{
    height: 350px;
    width: 100%;
    background-image: url(./hero_image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 25px;
}
.hero-msg{
    height: 40px;
    width: 97%;
    font-size: 14px;
    background-color: #F5F6F6;
    color: #0F1111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-msg a{
    color: #007185;
    text-decoration: none;
}
/**third phase**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e8;
}
.box{
    height: 420px;
    width: 345px;
    border: 2px solid black;
    background-color: white;
    padding: 20px 0px 15px 0px;
    border: none;
    margin-top: 10px;
}
.box1-content{
    margin-left: 10px;
    margin-right: 10px;

}
.box1-img{
    height: 300px;
    background-size: cover;
    background-repeat: none;
    margin-top: 10px;
}
.box1-content p{
    margin-top: 50px;
    color: #007185;
}
footer{
    margin-top: 20px;
}
.foot-panel1{
    height: 50px;
    width: 100%;
    background-color: #37475a;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
}
.foot-panel2{
    height: 300px;
    background-color: #222f3d;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 60px;
}
ul a{
    display: block;
    font-size: 14px;
    margin-top: 10px;
    color: #DDDDDD;
}
ul p{
    font-weight: 700;
    color: #DDDDDD;
}
.foot-panel3{
    height: 70px;
    background-color: #222f3d;
    color: #CCCCCC;
    border-top: 0.25px solid #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url(./amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: cover;
    margin-right: 35px;
}
.language{
    height: 35px;
    width: 117px;
    display: flex;
    align-items: center;
    border: 0.15px solid #CCCCCC;
    padding-left: 10px;
    font-size: 13px;
    margin-right: 10px;
    border-radius: 5px;
}
.language p{
    padding: 0px 7.8px;
}
.rupee{
    height: 35px;
    width: 160px;
    display: flex;
    align-items: center;
    border: 0.15px solid #CCCCCC;
    padding-left: 10px;
    font-size: 13px;
    margin-right: 10px;
    border-radius: 5px;
}
.rupee p{
    padding: 0px 7.8px;
}
.country{
    height: 35px;
    width: 160px;
    display: flex;
    align-items: center;
    border: 0.15px solid #CCCCCC;
    padding-left: 10px;
    font-size: 13px;
    border-radius: 5px;
}
.country img{
    height: 12px;
    width: 18px;
    padding-left: 10px;
}
.country p{
    padding-left: 10px;
}
.footer-panel4{
    background-color: #0F1111;
    font-size: 12px;
    height: 50px;
    color: #DDDDDD;
    text-align: center;

}
.pages{
   padding-top: 15px;
}
.copyright{
    padding-top: 5px;
}
.pages a{
    padding-right: 10px;
}